    /* First header */

h1 {
    text-align: center;
    font-family: Futara, Optima, Times New Roman, Serif;
    font-size: 70px;
        background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text; 
    text-shadow: -5px -5px black;
    display: flex;
    justify-content: space-around;
}

    /* navigation bar */

nav {
    text-decoration: white;
    font-size: 20px;
    background-color: black;
    border-radius: 30px;
    padding: 4px;
    border: 5px solid purple;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

ul a:hover {
    color: #cf23cf;
    background-color: transparent;
    text-decoration: underline;
}

    /* hyperlinks */

a:link {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;    
}

a:hover {
    color: #cf23cf;
    background-color: transparent;
    text-decoration: underline;
}

    /* second header - page intro */

h2 {
    font-size: 30px;
    border-radius: 30px;
    text-align: center;
    border: 4px solid #ff6b08;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
}

    /* main content */

.section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

}

    /* image */

img {
    border: 3px solid #f32170;
    border-radius: 30px;
    width: 480px;
    max-height: auto;    

}

    /* text */

.text {
    font-size: 17px;
    font-family: Futara, Optima, Times New Roman, Serif;
    text-align: center;
    max-width: 800px;
    height: auto;
    color: black;
    padding: 5px 10px 10px 10px;
    border: 3px solid #f32170;
    border-radius: 30px;
}

    /*caption above footer */

aside {
    font-size: 17px;
    font-family: Futara, Optima, Times New Roman, Serif;
    text-align: center;
    max-width: 800px;
    height: auto;
    color: black;
    padding: 5px 10px 10px 10px;
    border: 3px solid #f32170;
    border-radius: 30px;
}

    /* embedded youtube video */

iframe {
    border: 3px solid #f32170;
    border-radius: 30px;
}

    /* contact form */

input[type=text], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #f32170;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical
  }
  
  input[type=submit] {
    background-color: pink;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #cf23cf;
    border-radius: 30px;
    color: black;
  }
  
  .container {
    border-radius: 30px;
    padding: 20px;
  }


    /* footer */

  footer {
    text-align: center;
    width: 100%;
    padding: 10px;

  }

    /* icons in footer */

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

  }

    /* media query */

  @media screen and (max-width: 480px) {
  }
  